/* dashboard.css */

body.dashboard-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.dashboard-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 1000; 
}

.dashboard-account-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px; 
    width: 150px; 
    box-sizing: border-box; 
    text-align: center; 
}

.dashboard-account-button:hover {
    background-color: #0056b3;
}

.dashboard-account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 20;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1001;
    width: 150px; 
    box-sizing: border-box; 
}

.dashboard-account-link {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 10px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}

.dashboard-account-link:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}