/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register input {
    margin-bottom: 1px;
}

.login input {
    margin-bottom: 15px;
}

.register button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    margin-bottom: 20px;
    font-size: 12px; /* Set font size to 12px */
}

.requirements {
    font-size: 12px; /* Set font size to 12px */
    color: #aaa; /* Lighter grey color */
    margin-bottom: 15px 0; /* Uniform margin for top and bottom */
    text-align: center; /* Center align the text */
}

.login-error {
    color: red;
    font-size: 12px; /* Set font size to 12px */
    margin-top: -5px;
    margin-bottom: 10px;
}

.register .error {
    color: red;
    font-size: 12px; /* Set font size to 12px */
    margin-bottom: 0px;
}