<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <style>
        .dashboard-main-box {
            width: 360px;
            margin: 100px auto 0; 
            margin-top: 60px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
        }
    </style>
</head>
<body class="dashboard-body">
    <div class="dashboard-header">
        <button class="dashboard-account-button" onclick="toggleMenu()">{{ .username }}!</button>
        <div id="dashboard-account-dropdown" class="dashboard-account-dropdown">
            <a href="/dashboard" class="dashboard-account-link">Home</a>
            <a href="/manage-account" class="dashboard-account-link">Manage Account</a>
            <a href="/logout" class="dashboard-account-link">Log out</a>

        </div>
    </div>
    <div class="dashboard-main-box">
        <h2>Soon™</h2>
    </div>
    <script>
        function toggleMenu() {
            var dropdown = document.getElementById("dashboard-account-dropdown");
            dropdown.classList.toggle("show");
        }
    </script>
</body>
</html>
