<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Account</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/manage-account.css">
</head>
<body class="dashboard-body">
    <div class="dashboard-header">
        <button class="dashboard-account-button" onclick="toggleMenu()">{{ .username }}!</button>
        <div id="dashboard-account-dropdown" class="dashboard-account-dropdown">
            <a href="/dashboard" class="dashboard-account-link">Home</a>
            <a href="/manage-account" class="dashboard-account-link">Manage Account</a>
            <a href="/logout" class="dashboard-account-link">Log out</a>
        </div>
    </div>
    <div class="account-info-box">
        <h2>Account Information</h2>
        <form onsubmit="return false;">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ .username }}" disabled>
                <button type="button" class="edit-button" id="editButton" onclick="toggleEdit()">Edit</button>
            </div>
            <div id="message" class="message"></div>
        </form>
    </div>
    <script src="/javascript/manage-account.js"></script>
</body>
</html>
