<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body class="register-body">
    <div class="register-container">
        <h1 class="register-title">Register</h1>
        {{ if .error }}
        <p class="register-message" style="color:red;">{{ .error }}</p>
        {{ end }}
        <form class="register-form" method="post">
            <p class="register-requirements">Usernames must be 4-16 characters long and contain only A–Z, a–z, and 0–9.</p>
            <input type="text" name="username" placeholder="Username" required class="register-input">
            {{ if .usernameError }}
            <p class="register-error">{{ .usernameError }}</p>
            {{ end }}
            <p class="register-requirements">Passwords must be at least 6 characters long and can include A–Z, a–z, 0–9, and symbols !@#$%^&*()\/;:</p>
            <input type="password" name="password" placeholder="Password" required class="register-input">
            {{ if .passwordError }}
            <p class="register-error">{{ .passwordError }}</p>
            {{ end }}
            <button type="submit" class="register-button">Register</button>
        </form>
        <p class="register-login-text">Already have an account? <a href="/login" class="register-login-link">Login here</a></p>
    </div>
</body>
</html>
